<!DOCTYPE html>
<html lang="en">
<head>
    <title>MANHammer Studios Commission Miniature Painting Service</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Seattle, WA based commission miniature painting service, specializing in Hero Forge, Warhammer, 
          and other Games Workshop products" />
    <meta name="keywords" content="Painting, Commission, Warhammer, Warhammer 40,000, 40k, Games Workshop, Citadel, Hero Forge, Board Games" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/tabControl.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="col-xl-1 col-lg-1 col-md-1"></div>
    <div class="container body-content col-xl-10 col-lg-10 col-md-10">
        <div class="bg">
            <img class="img-responsive" alt="Studio_Banner" src="../../Content/Images/mhsb2.jpg" id="artBanner" />
            <header class="clearfix">
                <div class="container desktopMenu">
                    <div class="header-right">
                            <span class="hidden-desktop"></span>
                        <nav>
                            <a href="/">Home</a>
                            <a href="/Home/AboutMe">About Me</a>
                            <a href="/Home/Gallery">Gallery</a>
                            <a href="/Home/Pricing">Pricing Information</a>
                            <a href="/Home/Contact">Contact</a>
                            <a href="http://www.manhammerstudios.blogspot.com">Blog</a>
                        </nav>
                    </div>
                </div>
                <div class="container col-xs-1 mobileMenu">
                    <ul class="nav mobileNavMenuButton">
                        <li>
                            Navigation
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/Home/AboutMe">About Me</a></li>
                                <li><a href="/Home/Gallery">Gallery</a></li>
                                <li><a href="/Home/Pricing">Pricing Information</a></li>
                                <li><a href="/Home/Contact">Contact</a></li>
                                <li><a href="http://www.manhammerstudios.blogspot.com">Blog</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </header><br /><br />
            @RenderBody()
            <div class="footer">
                <header class="clearfix">
                    <div class="container desktopMenu">
                        <div class="row desktopMenuRow">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <h4><a href="/">Home</a></h4>
                                <h4><a href="/Home/AboutMe">About Me</a></h4>
                                <h4><a href="/Home/Gallery">Gallery</a></h4>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <h4><a href="/Home/Pricing">Pricing Information</a></h4>
                                <h4><a href="/Home/Contact">Contact</a></h4>
                                <h4><a href="http://www.manhammerstudios.blogspot.com">Blog</a></h4>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <p id="footerCR">
                                    <span>

                                        Copyright for products being painted belong to their respective owners. Copyright for the work
                                        done on each piece belongs to me, and may not be reposted without my expressed permission.
                                    </span>
                                </p>
                            </div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                                <img class="img-responsive" alt="Studio_Logo" src="../../Content/Images/mhlogo.jpg" id="logo" />
                            </div>
                        </div>
                    </div>
                    <div class="container col-xs-1 mobileMenu">
                        <ul class="nav mobileNavMenuButton">
                            <li>
                                Navigation
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/Home/AboutMe">About Me</a></li>
                                    <li><a href="/Home/Gallery">Gallery</a></li>
                                    <li><a href="/Home/Pricing">Pricing Information</a></li>
                                    <li><a href="/Home/Contact">Contact</a></li>
                                    <li><a href="http://www.manhammerstudios.blogspot.com">Blog</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </header>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tabControl")
    @RenderSection("scripts", required: false)
</body>
</html>
